*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
::selection{
    background-color: rgb(109, 87, 108);
}
html,
body,
section{    
    height: 100%;
    background-color: rgb(201, 201, 201);
}
section{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
form{
    border-radius: 20px;
    background-color: rgb(57, 41, 71);
    padding: 35px;
    width: 300px;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.507);
}
fieldset{
    border: none;
}
legend{
    display: block;
    padding: 20px;
    border-left: 5px solid orchid;
    color: #fff;
}
div{
    position: relative;
}
label{
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    transition: .5s ease;
}
input{
    width: 100%;
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: none;
    border-bottom: 5px solid orchid;
    outline: none;
    background-color: rgb(57, 41, 71);
}
input:focus ~ label,
input:valid ~ label{
    top: -20px;
    font-size: 13px;
}
input:focus,
input:valid{
    background-color: #fff;
    transition: .5s ease;
}
input:last-child{
    border-radius: 6px;
    background-color: orchid;
    border: none;
    padding: 10px;
    cursor: pointer;
}
input:hover:last-child{
    background-color: rgb(134, 70, 132);
}
div:last-child{
    padding-top: 30px;
    color: #fff;
}